#app-container {
  height: calc(100vh - 51px);
  display: flex;
}

#property-container {
  width: 25%;
  background: #101012;
  position: relative;
  z-index: 3;
}

#scene-container {
  background: #101012;
  width: 75%;
  padding: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#info-message {
  position: absolute;
  z-index: 1000;
  top: 60px;
  left: 5px;
  border: 1px solid #8a8a8a2a;
  background: #d19944;
  border-radius: 5px;
  font-size: 12px;
  color: #3a3a3ad3;
  padding: 15px 20px;
}

#transparent-bg {
  position: absolute;
  z-index: 0;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  background-image: repeating-conic-gradient(#a4a4a4 0% 25%, #c0c0c0 0% 50%);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
  background-color: #c0c0c0;
  transition: all ease 0.3s;
}

#aspect-container {
  position: relative;
  transition: all ease 0.3s;
}

@media only screen and (max-width: 1200px) {
  #property-container {
    width: 30% !important;
  }
  #scene-container {
    width: 70% !important;
  }
}

@media only screen and (max-width: 950px) {
  #property-container {
    width: 40% !important;
  }
  #scene-container {
    width: 60% !important;
  }
}
