.custom-auth-button {
  background-color: rgba(185, 159, 151, 1)!important;
  color: rgba(18, 20, 19, 1)!important;
  border: 1px solid rgba(185, 159, 151, 1)!important;
}

.custom-auth-input {
  color: white!important;
}

.custom-auth-container {
  background-color: rgba(18, 20, 19, 1)!important;
}
