#home {
  background: rgba(244, 238, 235, 1);
  width: 100%;
  height: 100%;
}

#home-contents {
  width: 100%;
  height: 100%;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

#home-left,
#home-right {
  width: 50%;
}

#home-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  gap: 2.5rem;
}

#home-right {
  cursor: grab;
}

.bold-text {
  color: rgba(124, 101, 93, 1);
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.main-text {
  color: rgba(18, 20, 19, 1);
  font-family: "DM Serif";
  font-weight: 400;
  font-size: 72px;
  line-height: 79px;
}

.main-text-highlight {
  color: rgba(185, 159, 151, 1);
  font-style: italic;
}

.description {
  font-family: "DM Sans", sans-serif;
  color: rgba(124, 101, 93, 1);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.action-btn {
  font-family: "DM Sans", sans-serif;
  display: flex;
  width: fit-content;
  color: rgba(244, 238, 235, 1);
  gap: 0.25rem;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  background: rgba(18, 20, 19, 1);
  border-radius: 50px;
  padding: 17px 32px;
  cursor: pointer;
}

.action-btn a {
  text-decoration: none;
}

@media only screen and (max-width: 1050px) {
  #home-contents {
    flex-direction: column;
  }

  #home-left {
    width: 90%;
    height: 50%;
    gap: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }

  #home-right {
    width: 100%;
    height: 50%;
  }

  #home-left {
    gap: 1.8rem;
  }

  .bold-text {
    font-size: 14px;
    line-height: unset;
  }

  .main-text {
    font-size: 55px;
    line-height: 60px;
  }

  .description {
    font-size: 14px;
    line-height: 16px;
  }

  .action-btn {
    font-size: 14px;
    line-height: 16px;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 850px) {
  #home-left {
    width: 100%;
    gap: 1.4rem;
  }
}

@media only screen and (max-width: 700px) {
  #home-left {
    width: 100%;
    gap: 1.4rem;
  }

  .bold-text {
    font-size: 12px;
    line-height: 14px;
  }

  .main-text {
    font-size: 45px;
    line-height: 50px;
  }

  .description {
    font-size: 12px;
    line-height: 14px;
  }

  .action-btn {
    font-size: 12px;
    line-height: 14px;
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 450px) {
  #home-left {
    width: 100%;
    gap: 1.2rem;
  }

  .bold-text {
    font-size: 12px;
    line-height: 12px;
  }

  .main-text {
    font-size: 35px;
    line-height: 38px;
  }

  .description {
    font-size: 12px;
    line-height: 14px;
  }

  .action-btn {
    font-size: 12px;
    line-height: 14px;
    padding: 10px 20px;
  }
}
