#transparent-bg {
  position: absolute;
  z-index: 0;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  border-radius: 12px;
	background-image: repeating-conic-gradient(#a4a4a4 0% 25%, #c0c0c0 0% 50%);
	background-position: 0 0, 8px 8px;
	background-size: 16px 16px;
	background-color: #c0c0c0;	
}

#scene-canvas {
  border-radius: 10px;
  position: absolute;
  z-index: 2;
}