#solution {
  background: rgba(244, 238, 235, 1);
  width: 100%;
}

#solution-content {
  display: flex;
  width: 100%;
  max-width: 1800px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.2rem;
  margin: 0 auto;
  padding: 75px 50px;
}

.dark-text {
  color: rgba(27, 19, 10, 1);
}

#solution-container {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2%;
}

#solution-left,
#solution-right {
  width: 49%;
}

.step {
  margin: 15px 0px;
  display: flex;
  align-items: baseline;
  gap: 15px;
}

.step-number {
  background: rgba(27, 19, 10, 1);
  color: white;
  border-radius: 50%;
  min-width: 30px;
  min-height: 30px;
  line-height: 30px;
  text-align: center;
}

.step-description {
  font-family: "DM Sans";
  font-size: 16px;
  line-height: 26px;
  color: rgba(124, 101, 93, 1);
  font-weight: 400;
  margin: 10px 0px;
}

#solution-right {
  border-radius: 10px;
  background: url("/images/interface.webp");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1050px) {
  #solution-container {
    flex-direction: column;
  }

  #solution-left,
  #solution-right {
    width: 100%;
  }

  #solution-right {
    height: 300px;
  }

  .step-description {
    font-size: 14px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 450px) {
  .step-description {
    font-size: 12px;
    line-height: 18px;
  }
}
