@font-face {
  font-family: 'Roboto Mono';
  src: url('/fonts/RobotoMono.ttf');
}

@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans.ttf');
}

@font-face {
  font-family: 'DM Serif';
  src: url('/fonts/DMSerifText.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
}