@font-face {
  font-family: 'Roboto Mono';
  src: url('fonts/RobotoMono.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto.ttf');
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: Avenir, Arial, Helvetica, sans-serif;
}

#root {
  height: 100vh;
}