#scene-canvas {
  border-radius: 10px;
  position: absolute;
  z-index: 2;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}